/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilos do Formulário */
  form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  input[type="text"]:focus,
  input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Estilos dos Botões */
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #28a745; /* Verde para o botão "Editar" */
    color: white;
    font-size: 13px;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  
  /* Estilos do Link como botão de "Cancelar" */
  a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 13px;
  }
  
  a:hover {
    background-color: #c82333;
  }
  
  /* Layout Responsivo */
  @media (max-width: 400px) {
    form {
      width: 100%;
      padding: 20px;
    }
  }
